* {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #b7c297;
}

.dark-gray-text {
  color: #2e3a3d;
}

#nav-logo {
  display: block;
  margin: 0 auto;
}

.navbar-brand-wrapper {
  display: inline-block;
}

#logo-text {
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  font-size: 4vw;
}

.navbar,
.lower-buttons {
  background-color: #dfd2f5;
}

.lp-modal-button {
  background-color: #b7c297;
  color: #f9f7f1;
  font-weight: 500;
}

.lp-modal-button:hover {
  background-color: #f9f7f1;
  color: #2e3a3d;
}

.navbar-small {
  height: 10vh;
}

#nav-logo-small {
  height: 8vh;
  width: auto;
}

#right-section {
  background-color: #f9f7f1;
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      49% 81% at 45% 47%,
      #f9f7f1 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #b09acf 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #dfd2f5 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #a998c6 1%, #ff000000 99%),
    radial-gradient(142% 91% at 111% 84%, #4b2e83 0%, #a998c6ff 100%);
}

#right-section *:not(.disabled) {
  color: #2e3a3d;
}

#dash-title {
  font-size: 8vh;
}

.dash-highlights-wrapper .card-text {
  margin: 0;
  padding: 0;
}

.highlight-number {
  aspect-ratio: 1/1;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 5vh;
}

.dash-highlights-wrapper > div {
  background-color: #f9f7f1;
}

.dash-highlights-wrapper h3 {
  font-weight: 300;
}

#table * {
  background-color: #f9f7f1;
}

#table {
  table-layout: fixed;
}

#table button {
  border: transparent;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */

}

#table td {
  /* aspect-ratio: 2 / 1; */
  width: 3vw;
  height: 5vh;
  padding: 0;
  vertical-align: middle;
}

#table tbody tr {
  height: 10vh;
}

.disabled {
    color: #4a4a4a81;
    text-decoration: line-through;
    line-height: 1;
    vertical-align: middle;
}

.fa-solid.fa-circle {
    font-size: 0.8vh;
    bottom: 1.9vh;
}