* {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #b7c297;
}

.dark-gray-text {
  color: #2e3a3d;
}

#nav-logo {
  display: block;
  margin: 0 auto;
}

.navbar-brand-wrapper {
  display: inline-block;
}

#logo-text {
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  font-size: 4vw;
}

.navbar,
.lower-buttons {
  background-color: #dfd2f5;
}

.lp-modal-button {
  background-color: #b7c297;
  color: #f9f7f1;
  font-weight: 500;
}

.lp-modal-button:hover {
  background-color: #f9f7f1;
  color: #2e3a3d;
}

.navbar-small {
  height: 10vh;
}

#nav-logo-small {
  height: 8vh;
  width: auto;
}

.right-side {
  background-color: #f9f7f1;
}

.instructor-image {
  height: 20vw;
  width: 20vw;
}

.instructor-name {
  font-size: 3vh;
}

.class-near-wrapper .card-img-top {
  height: 200px;
  object-fit: cover;
}

.studio-highlight-wrapper .card-img-top {
  height: 200px;
  object-fit: cover;
}

.accordion-button {
  background-color: #8E9978;
  color: #f9f7f1;
}

.accordion-button[aria-expanded="true"] {
  color: #f9f7f1;
  background-color: #b7c297;
}

.schedule-button {
  background-color: #6B7B5E;
  color: #f9f7f1; 
}

.schedule-button:hover {
  background-color: #dfd2f5;
  color: #f9f7f1; 
}

#inviteModal .modal-content {
  background-color: #f9f7f1;
  color: #6B7B5E;
}

#inviteModal button {
  background-color: #6B7B5E;
  color: #f9f7f1; 
}