* {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

#nav-logo {
  display: block;
  margin: 0 auto;
}

.navbar-brand-wrapper {
  display: inline-block;
}

#logo-text {
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  font-size: 4vw;
}

.navbar,
.lower-buttons {
  background-color: #dfd2f5;
}

.dark-gray-text {
  color: #2e3a3d;
}

.lp-modal-button {
  background-color: #b7c297;
  color: #f9f7f1;
  font-weight: 500;
}

.lp-modal-button:hover {
  background-color: #f9f7f1;
}

.navbar-small {
  height: 10vh;
}

#nav-logo-small {
  height: 8vh;
  width: auto;
}

.index-modal-background {
  background: radial-gradient(circle at 20% 30%, #a998c6, transparent 90%),
    radial-gradient(circle at 80% 60%, #dfd2f5, transparent 90%);
  background-color: #f9f7f1;
  min-height: 30vh;
}

.index-modal-background * {
  color: #4b2e83;
}

.index-modal-background button.btn-close {
  background-color: #f9f7f1;
  border: transparent;
}

.index-modal-background button.btn-close:hover {
  background-color: #4b2e83;
  color: #f9f7f1;
}

.index-modal-background button {
  border: transparent;

  background-color: #4b2e83;
  color: #f9f7f1;
}

.index-modal-background button:hover {
  background-color: #f9f7f1;
  color: #4b2e83;
}

.index-modal-background h1 {
  font-size: 4vh;
  font-weight: 500;
}

.index-modal-background input {
  background-color: rgba(255, 255, 255, 0.5);
  border: transparent;
}

.form-field-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.5vh;
}

#sign-up-name-label {
  margin: 0;
  padding: 0;
}

.right-side {
  background-color: #f9f7f1;
}

#index-page-title {
  font-size: 5vh;
  font-weight: 500;
}

section > h3 {
  font-size: 4vh;
  font-weight: 400;
}

.tutorial-wrapper img {
  /* width: 20vh; */
  height: 100%;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.tutorial-wrapper > div {
  display: grid;
  grid-template-rows: 70% 30%;
  row-gap: 1rem;
  align-items: start;
  justify-items: center;
  min-height: 35vh;
}

.tutorial-wrapper h4 {
  margin: 0;
  text-align: center;
}

.benefit-section-wraper, footer {
  background-color: #b7c297;
}

.benefit-item img {
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.benefit-item {
  display: grid;
  grid-template-rows: 2fr 1fr;
  row-gap: 1rem;
  align-items: start;
  justify-items: center;
  aspect-ratio: 2 / 1;
}

.benefit-item p {
  padding: 0;
  margin: 0;
  font-size: 2.5vh;
}

.pricing-wrapper {
  flex: 0 1 auto;
  max-width: 250px;
}

.pricing-wrapper .card {
  height: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.class-near-wrapper .card-img-top {
  height: 200px;
}